body {
  margin: 0;
  padding: 0;
  font-family: " Avenir-Medium", "Avenir-Roman", "Avenir-Heavy",
    "Avenir-Heavy",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none !important;
}
